.App {
  min-height: 90vh - 56mm;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.section {
  margin-top: 3rem;
}

.paragraph {
  margin-top: 1rem;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar {
  background-color: #f3f3f3;
}